
$size-mobile: 400px;
$size-tablet: 800px;
$size-desktop: 1200px;

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .slide-content {
  	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  }
}

.swipe-global{
	background-color: #222;
	overflow: hidden;
	max-width: 360px;
	width: 100%;
	margin: 0 auto;
	padding-left: 30px;

	@media screen and (min-width: $size-tablet){
		max-width:660px;
	}

	@media screen and (min-width: $size-desktop){
		max-width:100%;
		overflow: visible;		
		padding:0;
	}


}

.swipe-wrapper{
	width:90000px;
	line-height: 0;

	@media screen and (min-width: $size-desktop){
		max-width:100%;	
	}

}

.slide{
	display:inline-block;
	width: 300px;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	transition: transform 0.2s ease-in;    
  /*@include aspect-ratio(3, 2);*/
    @media screen and (min-width: $size-tablet){
    	height: 400px;
		width:600px;
    }

    @media screen and(min-width: $size-desktop){
    	height: auto;
    	width: 33.3333%;
    }
}

.slide:after{
	@media screen and(min-width: $size-desktop){
		content: "";
		display:block;
    	padding-top: (2 / 3) * 100%;
    	width: 100%;
    }	
}

.isSliding{
	transition: transform 0.2s ease;
}
.isTouched{
	/*transform: scale(1.1);*/
}